// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .8px;
}

#container {
  padding: 0 40px;
  width: 960px;
  margin: auto;
  @media only screen and (max-width : 959px) {
    width: 100px;
  }
}

#header {
  margin: 50px 0;
}

h1 {
  text-align: center;
}

#content_container {
  width: 80%;
  margin: auto 0;
  float: left;
}

/***********TECH FUN***********/

.tech_image {
  width: 100%;
}


/***********VIDEO FUN***********/

.videos, .techs {
  margin-bottom: 20px;
}

.video_video, .tech_picture {
  width: 50%;
  display: inline-block;
}

.video_words, .tech_words {
  width: 46%;
  padding-left: 2%;
  display: inline-block;
  margin-top: .5em;
  vertical-align: top;
}

.title {
  font-weight: 700;
  font-size: 1.5em;
}

.description {
  text-transform: none;
  font-size: 1em;
}

.date {
  font-weight: 700;
}

/***********SIDEBAR FUN***********/
#sidebar {
  width: 20%;
  margin: auto 0;
  display:  inline-block;
  float: right;
}

#about_div, #portfolio_div, #video_div, #contact_div {
  display: none;
}

ul {
    list-style-type: none;
}

li:hover {
  color: #68228B;
  letter-spacing: 2px;
}

#navbar ul {
  line-height: 2;
  margin-top: 0;
}

.divider {
  position: relative;
  height: 35px;
}

#height {
  height: 34px;
}

#facebook, #twitter, #linkedin, #github {
  position: absolute;
}

#facebook_purple, #twitter_purple, #linkedin_purple, #github_purple {
  display: none;
  position: absolute;
}

// media queries





