// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .8px;
}

#container {
  padding: 0 2%;
  width: 100%;
  max-width: 1150px;
  margin: auto;
  // @media only screen and (max-width : 700px) {
  //   width: 100px;
  // }
}

#header {
  margin: 50px 0 40px 0;
}

h1 {
  text-align: center;
}

#content_container {
  width: 90%;
  display: inline-block;
  vertical-align: top;
  margin: auto 0;
}

/***********START DIV***********/

#start_about_images, #start_portfolio_images, #start_video_images {
  display: inline-block;
}

#start_portfolio_images, #start_video_images {
  margin-right: 2%;
}

#start_portfolio_images {
  width: 39%;
}

#start_video_images {
  width: 35.7%;
}

#start_about_images {
  width: 20.5%;
}

.logo {
  width: 100%;
  vertical-align: top;
}

.words {
  text-align: center;
  width: 100%;
  margin-top: 25%;
  font-size: 2em;
}

.words2 {
  margin-top: 43%;
}

/***********TECH FUN***********/

.tech_image {
  width: 100%;
}


/***********VIDEO FUN***********/

.videos, .techs {
  margin-bottom: 20px;
}

.video_video, .tech_picture {
  width: 50%;
  display: inline-block;
}

.video_words, .tech_words {
  width: 46%;
  padding-left: 2%;
  display: inline-block;
  margin-top: .5em;
  vertical-align: top;
}

.title {
  font-weight: 700;
  font-size: 1.5em;
}

.description {
  text-transform: none;
  font-size: 1em;
}

.date {
  font-weight: 700;
}


/***********ABOUT FUN***********/

#about_div {
  text-transform: none;
}



/***********SIDEBAR FUN***********/
#sidebar {
  width: 10%;
  margin: auto 0;
  display:  inline-block;
}

#about_div, #portfolio_div, #video_div, #contact_div {
  display: none;
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

li:hover {
  color: #68228B;
  letter-spacing: 2px;
}

#navbar {
  margin-top: 5px;
}

#navbar ul {
  line-height: 2;
  margin-top: 0;
}

.divider {
  position: relative;
  height: 35px;
  width: 35px;
}

@media only screen and (max-width : 1400px) {
  .divider:first-child, .divider:nth-child(2) {
      display: inline-block;
  }
}

#height {
  height: 34px;
}

#facebook, #twitter, #linkedin, #github {
  position: absolute;
}

#facebook_purple, #twitter_purple, #linkedin_purple, #github_purple {
  display: none;
  position: absolute;
}

// media queries

@media only screen and (max-width : 940px) and (min-width : 641px) {

  // #social {
  //   position: absolute;
  //   top: 370px;
  //   left: 35%;
  // }
}

@media only screen and (max-width : 940px) {

  #block {
    display: inline-block;
  }

  .divider {
    margin-right: 20px;
  }

  @media only screen and (max-width : 641px) {
    #content_container {
      width: 500px;
      margin: auto;
      height: 150px;
      display: block;
    }

    #sidebar {
      width: 500px;
      margin: auto;
      display: block;
    }
    #sidebar .links li {
      display: inline-block;
      width: 25%;
      text-align: center;
    }

    #navbar {
      margin-top: 40px;
    }

    .links {
      padding-left: 0;
    }

    #social {
      position: relative;
      left: none;
      bottom: none;
      width: 490px;
      margin-left: -10px;
    }

    .divider {
      margin-right: 0;
      width: 25%;
      text-align: center;
    }

    #block {
      width: 50%;
      .divider {
        width: 50%;
      }
    }

  }

}



